body{
  background-color: #2E8B57;;
}
/*  */
/* ESTILOS PRIMER SECTION */
/*  */
#logos  {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: normal;
    height: 180px;
    
}
.logos-div-websites{
    display: flex;
    width: 250px;
    align-items: center;
}
.logo-ig, .logo-fb, .logo-x{
    padding: 20px;
    width: 45px;
    height: 45px;
}

.logos-div-main{
    mix-blend-mode: multiply;
    padding-left: 98px;
}
.logo-main{
    width: 200px;
}
.logos-div-user{
    align-items: center;
    display: flex;
    width: 250px;
    margin:50px;
    justify-content: right;
}



/* ESTILOS QUE COMPARTEN LOS 3 DIV DEL PRIMER SECTION */
.logos-div-websites, .logos-div-main, .logos-div-user{
    background-color: white;
}
/*Estilo para formularo de inicio de sesión*/
.letra1 {font-size:30px;}
.colorfondo {background-color:#000099;}
.colorletra {color:#FFFFFF;}
.anchoboton {width:250px;}
/* ESTILOS INDIVIDUALES DE LOS DIV DEL PRIMER SECTION */

/*  */
/* ESTILOS SEGUNDO SECTION */
/*  */


/* ESTILOS QUE COMPARTEN LOS ELEMENTOS DEL SEGUNDO SECTION(MODIFICABLE EL NOMBRE) */

/* ESTILOS INDIVIDUALES DE ... DEL SEGUNDO SECTION */

/* ESTILOS INDIVIDUALES DE ... DEL SEGUNDO SECTION */

/*  */
/* ESTILOS TERCER SECTION */
/*  */

p {
    color: #555;
    font-size: 16px;
}
img {
    display: block;
    margin: 20px 0;
    max-width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
.container p {
    font-size: 16px;
    color: #555;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container img {
    max-width: 100%;
    grid-column: span 2;
    height: auto;
    
    margin-bottom: 20px;
}

/* INICIAR-SESION */
#iniciar-sesion{
align-items: center;

}
/* ESTILOS QUE COMPARTEN LOS ELEMENTOS DEL SEGUNDO SECTION */
#menu-vertical{
    padding-top: 173px;
    position: fixed;
    
}
#menu-vertical .opcionesmenu{
    font-family: Arial, Helvetica, sans-serif;
    height: 31.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(42, 52, 113);
    width: 150px;
    padding: 17px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 30px;
    cursor: pointer;
}
#menu-vertical .menun{
    font-family: Arial, Helvetica, sans-serif;
    height: 31.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(42, 52, 113);
    width: 150px;
    padding: 17px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 30px;
    /* cursor: pointer; */
}


#menu-vertical li a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}
#menu-vertical .opcionesmenu:hover{
    background-color: rgb(20, 145, 89);
}

/* ESTILOS DEL TERCER SECTION */


/* ESTILOS DE CONTENIDO INICIO */
.Inicio{
    display: none;
    margin-top: 173px;
    float: right;
    /* border: 2px solid; */
    height: 456px;
    width: 1130px;

}
.Inicio img{
    width: 500px;
    
}

.titulo-inicio{
    text-align: center;
    color: white;
}
.texto-inicio{
    padding-inline: 100px;
    text-align: center;
}
/* ESTILOS DE CONTENIDO ALIANZAS */
.Alianzas{
    display: none;
    margin-top: 150px;
    float:right;
    /* border: 2px solid; */
    height: 456px;
    width: 1130px;
    
}
.Alianzas-logo{
    justify-content: space-between;
    display: flex;
    margin: 50px;

}
.Alianzas-logo img{
width: 160px;
height: 160px;

}


/* ESTILOS DE CONTENIDO NOTICIAS */
.Noticias{
    display: none;
    margin-top: 150px;
    float:right;
    /* border: 2px solid; */
    height: 456px;
    width: 1130px;
}
.Noticias ul{
    color: white;
    font-size: 16px;
}

h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    margin-top: 30px;
}
p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

/* ESTILOS DE SERVICIOS(COMPLETADO) */
.Servi{
    display: none;
    margin-top: 150px;
    float:right;
    /* border: 2px solid; */
    height: 456px;
    width: 1130px;
    align-items: normal;
    justify-content: space-between;
    display: flex;
}
.Servi button{
    margin-top: 10px;
    margin-left: 150px;
    background-color:rgb(20,145,89);
    border-radius: 40px;
}
.Servi  img{
    width: 165px;
    height: 165px;

}

/* ESTILOS DE CONTACTANOS */
.Contactanos{
    margin-top: 100px ;
    
}
.Contactanos-div {
    margin-top: 150px;
    float:right;
    /* border: 2px solid; */
    height: 456px;
    width: 1130px;
    display: none;
}
/* ESTILOS DE SERVICIOS BOTONES */

.FORO{
    display: none;
    margin-top: 150px;
    float: right;
    height: 456px;
    width: 1130px;
    
}

.fotoF{
    height: 45%;
    width: 20%;
    margin-top: 13.5%;
    
}
.foro-unidos{

    justify-content: left;
    display: flexbox;
    height: 77%;
    width: 55%;
    margin-left: 20%;
    margin-top: 5%;
    border: 2px solid;
    border-radius: 20px;
}
.foro-unidos button{
    height: 20%;
    margin-left: 7%;
}
.foro-unidos p{
    margin-left: 7%;
    font-weight: bold;
}
.aprendiendo, .cosecha, .consejos{
    margin-bottom: 1%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #c2c2c2;
    width: 87%;
}

/* ESTILOS FORO->CONSEJO */
.CONSEJO{
    display: none;
    margin-top: 150px;
    float: right;
    /* border: 2px solid red; */
    height: 20%;
    width: 1130px;
    
}
.encabezado-consejo{
/* border: 2px solid blue; */
width: 1130px;
/* align-items: center;
justify-content: center; */
}


.encabezado-consejo pC {
    font-size: 300%;
    margin-left: 15%;
    color: white;
}
.encabezado-consejo hr{
    width: 90%;
    height: 0%;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
}

.primer-mensaje {
    border-radius: 15px; 
    margin-left: 10px;
    margin-bottom: 1%; 
    /* border: 2px solid black; */
    height: 60%;
    width: 70%;
}

.usuario{
    display: flex;
    align-items: center;
    /* border: 2px  solid blue ; */
    width: 30%;
    height: 15%;
}
.usuario img{
    width: 18%;
}
.usuario pT{
    font-size: large;
    margin-left: 2%;
}
.contenido-mensaje{
    margin-left: 5%;
/* border: 2px solid green; */
width: 90%;
height: 70%;
background-color: #d9d9d9;
border-radius: 30px;

}

.TitoMSG{
    margin-left: 3%;
    margin-top: 2%;
}
.contenido-mensaje img{
    margin-left: 20%;
}
.botones-foro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones-foro img{
    width: 5%;
   height: 5%;
   margin: 5%;

}
.segundo-mensaje {
    max-width: 70%;
    border-radius: 15px; 
    margin-left: 10px;
    margin-bottom: 10%; 
    /* border: 2px solid black; */
    height: 60%;
}

#foro-agregar{
margin-left: 120%;
width: 15%;
}
.CHATS{
    display: none;
    margin-top: 150px;
    float: right;
    /* border: 2px solid red; */
    height: 456px;
    width: 1130px;
    
}
.encabezado-consejo encabechat{
    font-size: 300%;
    margin-left: 42%;
    color: white;
}

.chat-neyra{
    /* border:2px solid red; */
    background-color: #d9d9d9;
    border-radius: 30px;
    width: 50%;
    height: 20%;
    margin-bottom: 1%;

}
.chat-neyra h6{
    margin-left: 5%;
    margin-top: 0%;
    color: #4b4b4b;
    
}
.usuario-neyra{
    display: flex;
    align-items: center;
    margin-left: 4%;
}
.usuario-neyra img{
    width: 4%;
}